.answer-wrapper {
    margin-bottom: 10px;
    display: flex;
    padding: 0 20px 0 20px;
}

.answer-detail {
    flex: 1;
    max-width: 80%;
    word-wrap: break-word;
}

.answer-body {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(71, 71, 71);
}

.answer-time {
    color: rgb(105, 105, 105);
}

.delete-btn {
    align-self: center;
}