.answer-wrapper {
    margin-bottom: 10px;
    display: flex;
    padding: 0 20px 0 20px;
}

.answer-detail {
    flex: 1;
    word-wrap: break-word;
}

.answer-body {
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(71, 71, 71);
}

.answer-time {
    color: rgb(105, 105, 105);
}

.answer-action {
    display: flex;
    justify-content: space-between;
}

.answer-btn {
    border: none;
    padding: 0;
    font-size: 13px;
}