.question {
  margin-bottom: 15px;
  /* border: 0.5px solid rgba(201, 201, 201, 0.199); */
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(224, 224, 224, 0.65);
  background-color: white;
}

.question-info {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  border-radius: 15px 15px 0 0;
}

.question-divider {
  margin: 0;
  border: 0.5px solid rgba(233, 233, 233, 0.342);
}

.question-content {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.question-content-img-section {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-content-img-box {
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  overflow: hidden;
}

.question-content-img {
  max-width: 100%;
  min-height: 100%;
}

.question-userinfo {
  flex: 1;
}

.question-user-avatar {
  margin-right: 10px;
  min-width: 32px;
}

.question-user-time {
  margin-left: 5px;
}

.question-title {
  flex: 1;
  margin-bottom: 0;
  font-size: 15px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.question-action {
  display: flex;
  justify-content: space-between;
  color: rgb(119, 126, 136);
}

.question-action-btn {
  border: none;
  color: rgb(119, 126, 136);
  margin: 0 0 5px 0;
  padding: 0;
}
