.question {
  margin-bottom: 20px;
  border: 1px solid rgb(172, 172, 172);
  border-radius: 15px;
}

.question-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 20px;

}

.question-content {
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.question-content-img {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-userinfo {
  flex: 1;
}

.question-user-avatar {
  margin-right: 10px;
}

.question-title {
    flex: 1;
}

.question-action {
  display: flex;
  border-top: 1px solid rgb(172, 172, 172);
  justify-content: space-between;
}

.question-action-left-btn {
  border: none;
  flex: 1;
  border-right: 1px solid rgb(172, 172, 172);
  border-radius: 0 0 0 15px;
}

.question-action-right-btn {
  border: none;
  flex: 1;
  border-radius: 0 0 15px 0;
}
