@import '../../assets/fonts/fonts.css';
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:300');

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.page {
    display: flex;
    flex-direction: column;
}

.body-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 80px 15px 30px 15px;
    /* padding-top: 30px; */
    margin-bottom: 30px;
}

.container>div {
    flex: 1;
}

.userStat {
    text-align: center;
    margin-top: 1%;
}

.big-title {
    font-family: 'Lobster', cursive;
    color: rgba(83, 83, 83, 0.858);
    font-size: 27px;
}

.hidden {
    display: none;
}

.role-tag {
    background-image: linear-gradient(120deg, #4facfe 0%, #00d6fc 100%);
    /* background-color: #00d6fc; */
    color: #e8e9e9;
    padding: 0px 7px 0px 7px;
    border-radius: 15px;
    margin-left: 5px;
    font-size: 14px;
}