@import '../../assets/fonts/fonts.css';
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto:300');

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.page {
    display: flex;
    flex-direction: column;
}

.body-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 80px 15px 30px 15px;
    /* padding-top: 30px; */
    margin-bottom: 30px;
}

.container>div {
    flex: 1;
}

.userStat {
    text-align: center;
    margin-top: 1%;
}

.big-title {
    font-family: 'Lobster', cursive;
    color: rgba(83, 83, 83, 0.858);
    font-size: 27px;
}

.hidden {
    display: none;
}

.back-btn {
    font-size: 2rem;
    color: white;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-image: linear-gradient(120deg, #4facfe 0%, #00d6fc 100%);
    position: fixed;
    bottom: 2%;
    left: 2%;
    box-shadow: 0 5px 30px rgb(0, 191, 255);
    -webkit-animation-duration: 0.2s;
}

.back-btn:hover {
    color: white;
    background-image: linear-gradient(120deg, #4facfe 0%, #00d6fc 100%);
}