@import '../../assets/fonts/fonts.css';
@import url('https://fonts.googleapis.com/css?family=Monoton');

/* * {
    font-family: 'GothamProMedium';
} */

.page {
    display: flex;
    flex-direction: column;
}

.body-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 80px 15px 30px 15px;
    /* padding-top: 30px; */
    margin-bottom: 30px;
}

.container>div {
    flex: 1;
}

.userStat {
    text-align: center;
    margin-top: 1%;
}

.big-title {
  /* font-family: 'GothamProMedium'; */
  /* font-weight: bold; */
}

.hidden {
    display: none;
}